# Data Science in the Real World: HotelMart Hotel Supplies

You are a business intelligence analyst for HotelMart, a company that sells hotel supplies.  You are interested in getting a better understanding of your company's inventory and sales.  You have datasets in 3 different CSV files located in the data directory: *products-hotel.csv*, *orders-hotel.csv*, and *sales-hotel.csv*.  You need to produce a set of reports to present to your boss.

**1]** Import each dataset into its own Pandas DataFrame named products, orders and sales.  Print the first 5 rows of each of your DataFrames to see what your data looks like.

In [1]:
import pandas as pd
products = pd.read_csv('data/products-hotel.csv')
sales = pd.read_csv('data/sales-hotel.csv')
orders = pd.read_csv('data/orders-hotel.csv')

productsdf = pd.DataFrame(products)
salesdf = pd.DataFrame(sales)
ordersdf = pd.DataFrame(orders)

In [53]:
print(productsdf.head())
print(salesdf.head())
print(ordersdf.head())

   ProductID  ProductName  CategoryID  Price
0          1  Large Towel           1      9
1          2   Hand Towel           1      5
2          3    Washcloth           1      3
3          4      Shampoo           1     40
4          5  Moisturizer           1     40
   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1      5/2/10      24924.50      False
1      1     1     12/2/10      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1      5/3/10      21827.90      False
   OrderDetailID   OrderID  ProductID  Discount  Quantity
0              1  13647632         39       0.5         3
1              2  24869686         50       NaN         7
2              3  24939443         72       NaN         3
3              4  12942451         81       0.5         2
4              5  12942451         58       0.5         2

Notice our CSV file already contained column labels.  Therefore, we do not need to create them for our DataFrames.

**2]** Use the appropriate DataFrame to calculate the AVERAGE, STANDARD DEVIATION, MAX and MIN Price by CategoryID.  **Do 1 calculation per cell below.**

In [48]:
productsdf.groupby(['CategoryID']).Price.min()

CategoryID
1    3
2    3
3    5
4    8
5    3
Name: Price, dtype: int64

In [49]:
productsdf.groupby(['CategoryID']).Price.max()

CategoryID
1     40
2     85
3    300
4    202
5    215
Name: Price, dtype: int64

In [51]:
productsdf.groupby(['CategoryID']).Price.mean()

CategoryID
1    23.000000
2    22.692308
3    83.653846
4    55.000000
5    58.619048
Name: Price, dtype: float64

In [52]:
productsdf.groupby(['CategoryID']).Price.std()

CategoryID
1    12.476645
2    22.848722
3    73.211443
4    65.771249
5    49.806100
Name: Price, dtype: float64

From the above calculations, you obtain very important statistical properties of your product data.  You can see where 50% of your product prices fall below for each category.  You can see how spread out your product prices are from the mean for each category.  Lastly, you can see the range of product prices for each category which can give insight on the existence of extreme values that may have impacted your average product price for each category.

# **3]** Use the appropriate DataFrame to:
- GROUP by ProductID and then aggregate the total Quantity of each ProductID sold.  
- Then SORT this grouping using the Pandas Series sort function, **sort_values( )**.  
- Lastly, FILTER out the top 5 largest Quantity values for this grouping.

In [180]:
df = pd.DataFrame(orders)
total = pd.DataFrame(df, columns=['ProductID', 'Quantity'])
total_quantity = total.groupby(['ProductID']).agg({'Quantity': [sum]})
total_sort = total_quantity.reset_index().sort_values(['ProductID'], ascending=False).set_index(['ProductID'])
total_sort

          Quantity
               sum
ProductID
94             283
93             315
92             345
91             415
90             334
89             328
88             340
87             412
86             347
85             322
84             312
83             323
82             364
81             415
80             357
79             292
78             313
77             333
76             306
75             376
74             237
73             285
72             325
71             330
70             422
69             345
68             371
67             316
66             334
65             322
...            ...
30             338
29             350
28             316
27             345
26             322
25             277
24             334
23             244
22             351
21             366
20             342
19             267
18             297
17             344
16             342
15             286
14             273
13             270
12             264
11             288
10             337
9              293
8              267
7              341
6              315
5              325
4              240
3              347
2              334
1              322

[94 rows x 1 columns]

**4]** Filter on the ProductName in the products DataFrame for each ProductID in the top 5 largest Quantity totals found above.  What are the top 5 best-selling products of all time for HotelMart?

In [213]:
df = pd.DataFrame(products)
total
df.groupby(['ProductName','ProductID']).sum().head()

                             CategoryID  Price
ProductName       ProductID
Adjustable Wrench 67                  4     10
Alarm Clock       39                  3     45
Armoire           36                  3    115
Bar Stool         83                  5     60
Bath Soap         8                   1     35

**5]** How do the AVERAGE Weekly_Sales on a holiday compare to those on a non-holiday?  Use the 1st cell below to code your calculation and the 2nd cell to explain your results.  In general, is this what you would expect?  Explain.

In [216]:
df = pd.DataFrame(sales)
df.groupby(['IsHoliday']).Weekly_Sales.mean()

IsHoliday
False    15901.445069
True     17035.823187
Name: Weekly_Sales, dtype: float64

In [ ]:
This is what I would expect during the holidays there are more items on sale

Great job with completing this workshop.  You were able to uncover some interesting details about your company’s price data:  where 50% of its product prices fall below and how spread out the price data is for each category.  Comparing this information to other companies selling similar products might give insight on how well HotelMart’s items are priced.  Are competitors’ products on average priced higher/lower for similar categories?  
<br><br>
You were also able to see which products were HotelMart’s top 5 best-selling.  These products should continue to be sold by the company.  Less selling products should be removed from inventory and no longer sold.  Understanding holiday sales could give insight on whether brick and mortar stores should remain open on holidays.  Significantly increased sales on holidays could indicate that continuing to open stores on these days is a good business decision.
<br><br>
You are now ready to move on to Workshop 2, Python for Data Visualizations.