In [52]:
import pandas as pd
data = pd.read_csv(r"DataScience-master\DataScience-master\jupyter\data\orders.csv")
print(data)

          May   5   24.9245
0    December  12  46.03949
1         May   5  21.82790
2    December  12  21.04339
3    February   2  57.25843
4   September   9  42.96091
5        July   7  17.41394
6       April   4  17.55809
7    November  11  16.63762
8    February   2  16.33314
9   September   9  17.68876
10       June   6  17.50841
11      March   3  16.24178
12    October  10  18.19474
13    January   1  20.09419
14     August   8  23.38803
15        May   5  34.23888
16   December  12  19.54939
17      March   3  22.51756
18    October  10  31.49765
19       July   7  15.98424
20      April   4  21.66576
21   November  11  37.88717
22      April   4  20.32761
23   November  11  21.28040
24    January   1  20.39809
25     August   8  23.87379
26       June   6  20.13819
27      March   3  16.43415
28    October  10  15.88352
29    January   1  15.36350
30     August   8  16.14887
31        May   5  15.29555
32   December  12  14.53979
33   February   2  15.27727
34  September   9  17.74668
35       July   7  20.79758
36      April   4  39.88606
37   November  11  18.68954
38   February   2  25.29349
39  September   9  33.30592

In [53]:
head = data.head(10)

In [54]:
print(head)

         May   5   24.9245
0   December  12  46.03949
1        May   5  21.82790
2   December  12  21.04339
3   February   2  57.25843
4  September   9  42.96091
5       July   7  17.41394
6      April   4  17.55809
7   November  11  16.63762
8   February   2  16.33314
9  September   9  17.68876

In [55]:
data.columns = ["Month", "Month_Number", "Total_Price"]

In [56]:
print(data)

        Month  Month_Number  Total_Price
0    December            12     46.03949
1         May             5     21.82790
2    December            12     21.04339
3    February             2     57.25843
4   September             9     42.96091
5        July             7     17.41394
6       April             4     17.55809
7    November            11     16.63762
8    February             2     16.33314
9   September             9     17.68876
10       June             6     17.50841
11      March             3     16.24178
12    October            10     18.19474
13    January             1     20.09419
14     August             8     23.38803
15        May             5     34.23888
16   December            12     19.54939
17      March             3     22.51756
18    October            10     31.49765
19       July             7     15.98424
20      April             4     21.66576
21   November            11     37.88717
22      April             4     20.32761
23   November            11     21.28040
24    January             1     20.39809
25     August             8     23.87379
26       June             6     20.13819
27      March             3     16.43415
28    October            10     15.88352
29    January             1     15.36350
30     August             8     16.14887
31        May             5     15.29555
32   December            12     14.53979
33   February             2     15.27727
34  September             9     17.74668
35       July             7     20.79758
36      April             4     39.88606
37   November            11     18.68954
38   February             2     25.29349
39  September             9     33.30592

In [57]:
data["Month"].unique

<bound method Series.unique of 0      December
1           May
2      December
3      February
4     September
5          July
6         April
7      November
8      February
9     September
10         June
11        March
12      October
13      January
14       August
15          May
16     December
17        March
18      October
19         July
20        April
21     November
22        April
23     November
24      January
25       August
26         June
27        March
28      October
29      January
30       August
31          May
32     December
33     February
34    September
35         July
36        April
37     November
38     February
39    September
Name: Month, dtype: object>

In [58]:
orders_grouped = data.groupby("Month_Number").Total_Price.mean().reset_index()

In [59]:
print(orders_grouped)

    Month_Number  Total_Price
0              1    18.618593
1              2    28.540582
2              3    18.397830
3              4    24.859380
4              5    23.787443
5              6    18.823300
6              7    18.065253
7              8    21.136897
8              9    27.925567
9             10    21.858637
10            11    23.623683
11            12    25.293015

In [60]:
orders_grouped[(orders_grouped["Total_Price"] == orders_grouped["Total_Price"].min()) | (orders_grouped["Total_Price"] == orders_grouped["Total_Price"].max())]

   Month_Number  Total_Price
1             2    28.540582
6             7    18.065253